fft_results.csv
src/assemblyForPython/tempFiles/*.txt
src/assemblyForPython/tempFiles/*.exe
src/assemblyForPython/tempFiles/*.hex
python/__pycache__/__init__.cpython-312.pyc
python/__pycache__/functions.cpython-312.pyc
src/assemblyForPython/tempFiles/a.txt
src/python/__pycache__/__init__.cpython-312.pyc
src/python/__pycache__/functions.cpython-312.pyc
veer/tempFiles/*
test
