VeerFiles/log.txt
VeerFiles/program.hex
VeerFiles/TEST.dis
VeerFiles/TEST.exe
VeerFiles/TESTNV.exe
VeerFiles/TESTNV.dis
VeerFiles/programNV.hex
VeerFiles/logNV.txt
PythonFiles/tempFiles/
/test_results.csv